<html>
    <body>
        <div>Language: {{translate phrase="Italian"}}<div>
        <div>My name is {{> partial }}.</div>
        <h1>The name is: {{name}} ({{meta.locale}})</h1>
        <p>They have a {{description}} hopefully!</p>
        <p>They definitely have global data {{global.test}}</p>
        {{convertRTFToHTML "**bold** *italics* ++underlined++ [hyperlink](link.com)"}}
    </body>
</html>
