---
{
    "streamId": "pages-locations",
    "urlFormat": "kg-go-{{.meta.locale}}-{{.uid}}.html"
}
---

<h1>The name is: {{name}} ({{meta.locale}})</h1>

I live at {{address}}, in {{meta.locale}}.

{{translate phrase="[[count]] Boutique" pluralForm="[[count]] Boutiques" count=5}}
{{translate phrase="[[count]] Boutique" pluralForm="[[count]] Boutiques" count=1}}
{{translate phrase="[[count]] Boutique" pluralForm="[[count]] Boutiques" count=0}}
{{translate phrase="[[count]] Boutique"}}
{{translate phrase="This site is property of: [[address]]"}}
{{translate phrase="This site is property of: [[address]]" count=5}}
{{translate phrase="We have the best [[best]]" context="ctx1"}}
{{translate phrase="We have the best [[best]]" context="ctx2" best="nutz"}}
{{convertRTFToHTML "plaintext"}}
{{convertRTFToHTML "**bold** *italics* ++underlined++ [hyperlink](link.com)"}}
